.container {
  padding: 20px;
}

.tub {
  width: 400px;
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.water {
  height: 20px;
  background: blue;
}
